.product{
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.145);
  display: block;
  background-color: rgba(255, 255, 255, 0.846);
  backdrop-filter: blur(2px);
  color: $softBlack !important;
  max-width: 100%;
  position: relative;
  min-height: 100%;

  .btn-prev:focus, .btn-next:focus{
    box-shadow: none !important;
    border-radius: 0;
  }

  &:hover{
    .btn-prev, .btn-next{
      opacity: 1 !important;
    }
    .btn-prev:disabled, .btn-next:disabled{
      opacity: .5 !important;
    }
  }

  .img{
    height: 215px;
    width: 100%;
    position: relative;

    @media (max-width: 479.95px) {
      height: calc(50vw - 20px);
    }
    @media (min-width: 479.95px) and (max-width: $sm) {
      height: calc(50vw - 50px);
    }
    @media (min-width: $xl) and (max-width: $xxl) {
      height: 203px;
    }

    @media (max-width: $xl) {
      .btn-prev, .btn-next{
        display: none !important;
      }
    }

    .btn-prev, .btn-next{
      position: absolute;
      bottom: 10px;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.445);
      color: white;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s;
      opacity: 0;

      @media (max-width: $xl) {
        width: 20px;
        height: 20px;

        ion-icon{
          font-size: 12px !important;
          min-width: 12px !important;
          --ionicon-stroke-width: 10px;
        }
      }

      ion-icon{
        font-size: 14px;
        min-width: 14px;
        --ionicon-stroke-width: 10px;
      }
    }

    .btn-prev{
      right: 40px;
    }
    .btn-next{
      right: 10px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper{
      height: 100%;
    }
  }

  .text{
    padding: 10px 12px;
    border-top: 1px solid rgb(181, 181, 181, 0.4);

    .small{
      font-size: 11px !important;
    }

    ion-icon{
      font-size: 13px;
    }

    @media (max-width: $sm) {
      padding: 10px;

      ion-icon{
        font-size: 11px;
      }

      .loja-vendedora{
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    a{
      font-size: 13.5px;
      max-height: 39px;
      font-weight: 500;
      display: -webkit-box;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      color: $softBlack;
      
      @media (max-width: $sm) {
        font-size: 12px;
      }

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 1;
      }
    }
    
    .format-price{
      font-size: 18px;
      font-weight: 600;

      @media (max-width: $sm) {
        font-size: 15px;
      }
    }

    .desconto{
      color: #27ae60;
      padding: 3px 3px 1px;
      border-radius: 3px;
      line-height: 100%;
      background-color: #27ae5f27;
      font-weight: 500;
      font-size: 10px;
      margin-top: 0;
      margin-left: 8px;
      display: -webkit-box !important;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

//Verificação para produtos dentro do slider
.swiper-slide{
  .product{
    .img{
      @media (max-width: 479.95px) {
        height: 50vw;
      }
    }
    a{
      @media (max-width: $sm) {
        font-size: 13px;
      }
    }
  }
}

.product-extended{
  display: flex;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.892);
  backdrop-filter: blur(2px);
  overflow: hidden;
  min-height: 100%;
  position: relative;
  width: 100%;
  
  img{
    height: 115px;
    width: 115px;
    object-fit: cover;

    @media (max-width: $sm) {
      height: 100px;
      width: 100px;
    }
  }

  .text{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 8px 10px;
    margin: auto 0;
    border-left: 1px solid rgb(181, 181, 181, 0.4);

    .small{
      font-size: 11px !important;
    }

    ion-icon{
      font-size: 13px;
    }

    @media (max-width: $sm) {      
      .small{
        font-size: 10px !important;
      }

      ion-icon{
        font-size: 11px;
      }

      .loja-vendedora{
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    a{
      font-size: 12.5px;
      max-height: 39px;
      font-weight: 500;
      line-height: 1.3;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      color: $softBlack;
      
      @media (max-width: $sm) {
        font-size: 11px;
      }

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 1;
      }
    }
    
    .format-price{
      font-size: 17px;
      font-weight: 600;

      @media (max-width: $sm) {
        font-size: 15px;
      }
    }

    .desconto{
      color: #27ae60;
      padding: 3px 3px 1px;
      border-radius: 3px;
      line-height: 100%;
      background-color: #27ae5f27;
      font-weight: 500;
      font-size: 10px;
      margin-top: 0;
      margin-left: 8px;
      display: -webkit-box !important;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: $sm) {
        font-size: 9px !important;
      }
    }
  }
}