#admin{
  padding: 70px 10px 100px;

  .content-full-screen{
    height: 100%;
    padding: 60px 15px;
    overflow: auto;

    form{
      max-width: 600px;
      margin: auto;
      padding: 30px;
      background-color: rgb(238, 238, 238);
      position: relative;

      .button-close-modal-admin{
        background-color: $danger;
        color: $white;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -11px;
        right: -11px;
      }
      
      input, textarea, select{
        margin-bottom: 9px;
        border: 1px solid $blue;
      }
    }
  }

  table{
    tr{
      td{
        vertical-align: middle;

        &:last-child{
          margin-bottom: -1px;
        }

        &:nth-child(1){
          width: 130px;
        }

        &:nth-child(2){
          max-width: 75px;
        }

        &:nth-child(3){
          max-width: 190px;
          font-size: 14px;
        }
      }
    }
  }

  .group-numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 9px;
    row-gap: 9px;
    margin-bottom: 9px;

    input{
      margin: 0 !important;
    }
  }

  .fixed-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(216, 216, 216, 0.545);
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .button-category:disabled{
    opacity: .6;
    cursor: not-allowed;
  }
}

#login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 60px 15px;

  form{
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
}