.alert-enter {
  opacity: 0;
  transform: translateY(-50px);
}
.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .3s, transform .3s;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity .3s, transform .3s;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity .3s;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity .3s;
}

.fade-opac-enter {
  opacity: 0;
}
.fade-opac-enter-active {
  opacity: 1;
  transition: opacity .3s;
}
.fade-opac-exit {
  opacity: 1;
}
.fade-opac-exit-active {
  opacity: 0;
  transition: opacity .3s;
}

@keyframes rotateLoading {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes terremote {
  0%{
    transform: translateX(0px);
  }
  5%{
    transform: translateX(-3px);
  }
  10%{
    transform: translateX(3px);
  }
  15%{
    transform: translateX(-3px);
  }
  20%{
    transform: translateX(3px);
  }
  25%{
    transform: translateX(-3px);
  }
  30%{
    transform: translateX(3px);
  }
  35%{
    transform: translateX(-3px);
  }
  40%{
    transform: translateX(3px);
  }
  45%{
    transform: translateX(-3px);
  }
  50%{
    transform: translateX(3px);
  }
  55%{
    transform: translateX(-3px);
  }
  60%{
    transform: translateX(3px);
  }
  65%{
    transform: translateX(-3px);
  }
  70%{
    transform: translateX(3px);
  }
  75%{
    transform: translateX(-3px);
  }
  80%{
    transform: translateX(3px);
  }
  85%{
    transform: translateX(-3px);
  }
  90%{
    transform: translateX(3px);
  }
  95%{
    transform: translateX(-3px);
  }
  100%{
    transform: translateX(0px);
  }
}