button:focus{
  transition: all .3s;
  border-radius: 5px;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

button.focus-no-shadow:focus{
  box-shadow: none !important;
}

button{
  border: 0;
  padding: 0;
  background: transparent;
}

a, a:hover{
  text-decoration: none;
}

a, button{
  letter-spacing: .5px;
}

.btn{
  border-radius: 100px !important;
  padding: 6px 20px !important;
  font-size: 15px;
  transition: all .1s;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-sm{
  padding: 5px 18px !important;
  font-size: 13px;
  width: auto;
  display: flex;
  align-items: center;
}

.btn-lg{
  padding: 10px 30px !important;
  font-size: 17px;
  width: auto;
  display: flex;
  align-items: center;
}
