button:focus{
  transition: all .3s;
  border-radius: 5px;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

button.focus-no-shadow:focus{
  box-shadow: none !important;
}

button{
  border: 0;
  padding: 0;
  background: transparent;
}

a, a:hover{
  text-decoration: none;
}

a, button{
  letter-spacing: .5px;
}

.btn{
  border-radius: 100px !important;
  padding: 6px 20px !important;
  font-size: 15px;
  transition: all .1s;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-sm{
  padding: 5px 18px !important;
  font-size: 13px;
  width: auto;
  display: flex;
  align-items: center;
}

.btn-lg{
  padding: 10px 30px !important;
  font-size: 17px;
  width: auto;
  display: flex;
  align-items: center;
}

.btn-melhores-ofertas,
.btn-casa-e-moveis,
.btn-cama-mesa-e-banho,
.btn-eletrodomesticos,
.btn-eletronicos,
.btn-smartphones,
.btn-notebooks,
.btn-moda,
.btn-cosmeticos,
.btn-fitness,
.btn-livros{
  position: relative;
  overflow: hidden;
  font-weight: 500;
  letter-spacing: 0;
  border: 0;
  font-size: 14px;
  
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .17;
  }
}

.btn-melhores-ofertas{ color: $colorMelhoresOfertas !important; &::before{ background-color: $colorMelhoresOfertas; } }
.btn-casa-e-moveis{ color: $colorCasaTrabalho !important; &::before{ background-color: $colorCasaTrabalho; } }
.btn-cama-mesa-e-banho{ color: $colorCasaTrabalho !important; &::before{ background-color: $colorCasaTrabalho; } }
.btn-eletrodomesticos{ color: $colorCasaTrabalho !important; &::before{ background-color: $colorCasaTrabalho; } }
.btn-eletronicos{ color: $colorTecnologia !important; &::before{ background-color: $colorTecnologia; } }
.btn-smartphones{ color: $colorTecnologia !important; &::before{ background-color: $colorTecnologia; } }
.btn-notebooks{ color: $colorTecnologia !important; &::before{ background-color: $colorTecnologia; } }
.btn-moda{ color: $colorVidaLazer !important; &::before{ background-color: $colorVidaLazer; } }
.btn-cosmeticos{ color: $colorVidaLazer !important; &::before{ background-color: $colorVidaLazer; } }
.btn-fitness{ color: $colorVidaLazer !important; &::before{ background-color: $colorVidaLazer; } }
.btn-livros{ color: $colorVidaLazer !important; &::before{ background-color: $colorVidaLazer; } }
