
.color-melhores-ofertas{ color: $blue; &::before{ background-color: $blue; } }
.color-casa-e-moveis{ color: $blue; &::before{ background-color: $blue; } }
.color-cama-mesa-e-banho{ color: $blue; &::before{ background-color: $blue; } }
.color-eletrodomesticos{ color: $blue; &::before{ background-color: $blue; } }
.color-eletronicos{ color: $blue; &::before{ background-color: $blue; } }
.color-smartphones{ color: $blue; &::before{ background-color: $blue; } }
.color-notebooks{ color: $blue; &::before{ background-color: $blue; } }
.color-audio{ color: $blue; &::before{ background-color: $blue; } }
.color-moda{ color: $blue; &::before{ background-color: $blue; } }
.color-cosmeticos{ color: $blue; &::before{ background-color: $blue; } }
.color-fitness{ color: $blue; &::before{ background-color: $blue; } }
.color-livros{ color: $blue; &::before{ background-color: $blue; } }