
.icon-moda{ color: $colorModa; &::before{ background-color: $colorModa; } }
.icon-moveis-e-eletros{ color: $colorMoveisEletros; &::before{ background-color: $colorMoveisEletros; } }
.icon-smartphones{ color: $colorSmartphones; &::before{ background-color: $colorSmartphones; } }
.icon-notebooks{ color: $colorNotebooks; &::before{ background-color: $colorNotebooks; } }