.swiper{
  position: relative;
}

.swiper-products{
  padding-bottom: 55px !important;
}

.swiper-pagination{
  position: absolute;
  padding: 5px 15px;
  left: 0;
  width: 100%;
  bottom: 15px;
  display: flex;
  z-index: 5;
  justify-content: center;

  @media (max-width: $xl) {
    bottom: 20px;
  }
  
  .swiper-pagination-bullet{
    width: 6.5px;
    height: 6.5px;
    border-radius: 30px;
    background-color: $blue;
    opacity: .5;
    transition: all .3s;
    cursor: pointer;
    
    &:not(:last-child){
      margin-right: 7px;
    }

    &.swiper-pagination-bullet-active{
      width: 20px;
      opacity: 1;
    }
  }
}