$white: #ffffff;
$graySky: #f0f0f0;
$graySky2: #f1f1f1;
$graySky3: rgba(235, 235, 235, 0.819);
$gray3: #777777;

// New colors
$orange: #FD4111;
$blue: #3498db;
$blueHeavy: #2b84c0;
$black: #2b2b2b;
$gray: #474747;
$softBlack: #3A3A3C;
$danger: #dc3545;

// Colors Category
$colorModa: #9b59b6;
$colorMoveisEletros: #2980b9;
$colorSmartphones: #FD4111;
$colorNotebooks: #1abc9c;

// Sizes
$sm: 575.95px;
$md: 767.95px;
$lg: 991.95px;
$xl: 1199.95px;
$xxl: 1349.95px;
