$white: #ffffff;
$roxo: #3A2A68;
$roxoEscuro: #2f2255;
$graySky: #f0f0f0;
$graySky2: #f1f1f1;
$blackPlus: #030304;
$azulClaro: #EAF6FA;
$azulClaro2: #F4F7F8;
$azulEscuro: #425DA7;

// New colors
$orange: #FD4111;
$blue: #3498db;
$blueHeavy: #2b84c0;
$orangeShadow: #d858317c;
$orangeOpac: #fbe8f0;
$black: #2b2b2b;
$gray: #474747;
$softBlack: #3A3A3C;
$yellow: #ffdd00;
$yellowHeavy: #e7bb0e;

// Sizes
$sm: 575.95px;
$md: 767.95px;
$lg: 991.95px;
$xl: 1199.95px;
