$white: #ffffff;
$graySky: #f0f0f0;
$graySky2: #f1f1f1;
$graySky3: rgba(235, 235, 235, 0.819);
$gray3: #777777;

// New colors
$orange: #FD4111;
$blue: #3498db;
$blueHeavy: #2b84c0;
$black: #2b2b2b;
$gray: #474747;
$softBlack: #3A3A3C;
$danger: #dc3545;

// Colors Category
$colorVidaLazer: #4834d4;
$colorTecnologia: #FD4111;
$colorCasaTrabalho: #1abc9c;

/// Colors old Category
$colorCasaMoveis: #2980b9;
$colorMelhoresOfertas: #FFC312;
$colorCosmeticos: #9b59b6;
$colorEletrodomesticos: #e58e26;
$colorFitness: #218c74;
$colorLivros: #B33771;
$colorPerifericos: #84817a;
$colorCamaMesaBanho: #4b6584;
$colorEletronicos: #222f3e;

// Sizes
$sm: 575.95px;
$md: 767.95px;
$lg: 991.95px;
$xl: 1199.95px;
$xxl: 1349.95px;

// Fonts

$oxygen: 'Oxygen', sans-serif;
